.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 35%;
    padding-bottom: 3rem;
}

.friendListing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%
}

.picture {
    height: 82px;
    width: 82px;
    border-radius: 50%;
    border: 0.5rem solid white;
    background-color: white;
    margin-right: 1rem
}

.friendName {
    color: white;
    font-size: 30px;
    font-weight: 700;
}