.container {
    display: flex;
    flex-direction: column;
    width: 75%
}

.friendListing {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30%
}

.picture {
    height: 82px;
    width: 82px;
    border-radius: 50%;
    border: 0.5rem solid white;
    background-color: white;
    margin-right: 1rem
}
.title {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-weight: 900;
    font-size: 50px;
}

.friendName {
    color: white;
    font-size: 30px;
    font-weight: 700;
}