.profilePage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.profilePicture {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: .5rem solid #9CB1DB;
    margin-left: 5rem;
    margin-bottom: -2rem;
    margin-right: 3rem;
    background-color: #9CB1DB;
    z-index: 1000;
}

.likedPosts {
    display: flex;
    background-color: #D7EFF2;
    z-index: 997;
    padding-left: 1rem;
    padding-top: 1rem;
}

.likedPosts:focus{
    outline-width: 0;
}

.likedPostsPath {
    fill: #D7EFF2;
}

.userPosts {
    display: flex;
    background-color: #9CB1DB;
    z-index: 998;
    padding-left: 1rem;
    padding-top: 1rem;
}

.userPosts:focus {
    outline-width: 0;
}

.userPostsPath {
    fill: #9CB1DB;
}

.friendsList {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding-left: 1rem;
    padding-top: 1rem;
    z-index: 999
}

.friendsList:focus {
    outline-width: 0;
}

.friendsListPath {
    fill: blue
}

.hidden {
    display: none;
}

.preview * {
    display: none;
}

.preview {
    height: 20vh;
    width: 100%
}

.profileId {
    margin-bottom: .5rem;
}

.curve {
    display: flex;
    margin-top: -4rem;
}

.svg {
    width: 100%;
}
