.profilePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: -4rem;
}

.profilePicture {
  height: 33vh;
  max-height: 250px;
  width: 33vh;
  max-width: 250px;
  border-radius: 50%;
  border: 0.5rem solid #9cb1db;
  margin-left: 5rem;
  margin-bottom: -2rem;
  margin-right: 1rem;
  background-color: #9cb1db;
  z-index: 1000;
}

.posts {
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
  min-height: 520px;
  height: 75%;
}

.likedPosts {
  flex-grow: 1;
  display: inline;
  background-color: #d7eff2;
  margin-top: -1px;
  margin-bottom: -2px;
  padding-left: 1rem;
  padding-top: 1rem;
}

.likedPosts:focus {
  outline-width: 0;
}

.likedPostsPath {
  fill: #d7eff2;
}

.pagetitle {
  text-align: left;
}

.userPosts {
  flex-grow: 1;
  display: inline;
  background-color: #9cb1db;
  margin-top: -1px;
  margin-bottom: -2px;
  padding-left: 1rem;
  padding-top: 1rem;
}

.userPosts:focus {
  outline-width: 0;
}

.userPostsPath {
  fill: #9cb1db;
}

.friendsList {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background-color: #7b90c6;
  margin-top: -1px;
  margin-bottom: -2px;
  padding-left: 1rem;
  padding-top: 2rem;
}

.friendsList:focus {
  outline-width: 0;
}

.friendsListPath {
  fill: #7b90c6;
}

.hidden {
  display: none;
}

.preview * {
  display: none;
}

.preview {
  min-height: 1rem;
}

.active {
  padding-bottom: 62px;
}

.profileId {
  margin-bottom: 0.5rem;
}

.curve {
  display: flex;
  min-height: 88.86px;
}

.svg {
  width: 100%;
}
