.tile-wrapper {
  height: 80px;
  width: 100%;
  display: inline-block;
  position: relative;
  border: 2px solid black;
}
.profile-picture {
  display: inline-block;
  width: 25%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.user-name {
  display: inline-block;
  width: 70%;
  height: 100%;
}

.user-name p {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
