.tile-wrapper {
  height: 80px;
  width: 100%;
  display: inline-block;
  position: relative;
}
.profile-picture {
  display: inline-block;
  width: 25%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.profile-picture img {
  max-width: 88%;
  max-height: 88%;
  border-radius: 50%;
}

.user-name {
  display: inline-block;
  width: 70%;
  height: 100%;
}

.user-name p {
  padding: 10px;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  font: "Poppins";
}
