.friend-name {
  height: 40px;
  background-color: #cccccc;
  display: inline-block;
  width: inherit;
}

.window-wrapper {
  height: 87.5%;
  width: 100%;
  position: fixed;
}
.conversationWindow {
  display: inline-block;
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
}

.conversationList {
  display: inline-block;
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  overflow-y: auto;
}
