.friend-name {
  height: 40px;
  background-color: #cccccc;
  display: inline-block;
  width: inherit;
}

.window-wrapper {
  height: 87.5%;
  width: 100%;
  position: fixed;
}

.topBar {
  display: inline-block;
  width: 100%;
  height: 5%;
  position: relative;
  border: 2px dashed black;
}

.topBar p {
  text-align: left;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.conversationWindow {
  display: inline-block;
  width: 70%;
  height: 90%;
  float: left;
  position: relative;
}

.conversationList {
  display: inline-block;
  width: 25%;
  height: 90%;
  float: left;
  position: relative;
  overflow-y: auto;
}
