@import "../../colors.css";
.wrapper {
  height: 100%;
  width: 100%;
  display: inline-block;
  border-left: 5px solid var(--light-teal);
  font-size: 0;
}
.friend-info {
  z-index: 1000;
  width: 350px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: -175px;
  margin: auto;
  margin-top: -60px;
  background: rgb(145, 175, 252);
  background: linear-gradient(
    0deg,
    rgba(145, 175, 252, 1) 0%,
    rgba(255, 255, 255, 1) 66%
  );
  border-radius: 50%;
  font-size: 16px;
}
.friend-info p {
  font-size: 24px;
  height: 20px;
  width: 200px;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  transform: translate(40%, 1200%);
  font-weight: bold;
}

.pictureWrapper {
  z-index: 1002;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  transform: translate(125%, 275%);
  top: 75px;
  position: absolute;
  margin-top: -60px;
  /* background: linear-gradient(
    0deg,
    rgba(145, 175, 252, 1) 0%,
    rgba(255, 255, 255, 1) 50%
  ); */
  background-color: var(--blueberry);
  border-radius: 50%;
  font-size: 16px;
}

.friend-picture {
  box-sizing: border-box;
  display: inline-block;
  margin-top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.friend-picture img {
  width: 100%;
  height: 100%;
}
.messages {
  display: inline-block;
  width: 100%;
  height: calc(100% - 55px);
  overflow-y: scroll;
  font-size: 16px;
}
.input-bar {
  width: 100%;
  height: 55px;
  display: inline-block;
  font-size: 16px;
}

.message {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 50px;
  word-wrap: break-word;

  display: table;
  table-layout: fixed;
  overflow: hidden;

  position: absolute;
  top: 0;
  margin: auto;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}
