.NotificationBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: auto;
  overflow-y: auto;
  border: 0.5px solid rgba(128, 128, 128, 0.5);
  padding-right: 10px;
}

.image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  margin-left: 15px;
}

.content {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}