.NotificationBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 50px;
  border: 0.5px solid rgb(92, 215, 249);
  filter: blur(5px);
}

.NotificationBox:active {
  filter: blur(0);
}

.color-type {
  width: 10px;
  height: 50px;
  margin-right: 10px;
}

.image {
  border-radius: 50%;
  width: 40px;
  content: url("./image.png");
  height: 40px;
  border: 2px solid black;
  margin-right: 10px
}