.NotificationPanel {
  height: auto;
  z-index: -1;
  overflow-y: auto;
}

.NotificationText {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 62px);
  background-color: gray;
  opacity: 0.7;
  z-index: -3;
  overflow-y: auto;

}

.NotificationPanelBackground {
  /* Navbar z-index is 4 */
  position: relative;
  background-color: white;
  left: 64%;
  z-index: -2;
  height: calc(100vh - 62px);
  opacity: 3000;
  top: 0%;
  width: 380px;
}