.NotificationPanel {
  height: auto;
  z-index: -1;
  overflow-y: auto;
}

.NotificationText {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 62px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -3;
  overflow-y: auto;

}

.NotificationPanelBackground {
  /* Navbar z-index is 4 */
  position: relative;
  background-color: white;
  left: 64%;
  z-index: -2;
  height: auto;
  min-height: calc(100vh - 62px);
  top: 0%;
  width: 380px;
}