#login-page {
  /* background-color: blue; */
  background-image: url("../../images/Login/background.svg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#login-page .center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 300px;
  width: 25vw;
  height: 40vh;
  padding: 50px 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#login-page h1 {
  margin-bottom: 50px;
}
