.contain {
  display: inline-block;
  font-size: 0;
}

.expandedPost {
  position: relative;
  font-size: 0;
  border: 10px solid #edecec;
  margin-top: 0px;
  padding-top: 2vh;
  border-top: 0;
  width: 25vw;
  height: 40vh;
  background-color: white;
}

.color {
  position: relative;
  display: inline-block;
  text-align: center;
  border: 10px solid #edecec;
  border-bottom: 0;
  width: 25vw;
  height: 6vh;
  padding-top: 2vh;
  background: #d7f0f3;
  margin-top: 0;
  align-items: baseline;
}

.name {
  display: inline;
  font-size: 3vh;
  font-family: "Poppins", sans-serif;
}

.profpic {
  position: absolute;
  overflow: visible;
  left: 50%;
  top: -6%;
  width: 2.5vw;
  margin-left: -1.8vw;
  height: 5vh;
  border: 0.5vw solid white;
  border-radius: 50%;
}

.dropcap {
  display: inline-block;
  font-size: 10vh;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-weight: 800;
}

.postcontents {
  overflow: scroll;
}

.text {
  display: block;
  height: 15vh;
  /* overflow: scroll; */
  line-height: 2.5vh;
  text-align: left;
  font-size: 12px;
  padding-top: 5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  font-family: "Poppins", sans-serif;
  background-color: green;
}

.postphoto {
  display: inline-block;
  position: absolute;
  margin-left: -11.5vw;
  /* overflow: scroll; */
  /* object-fit: contain; */
  /* width: 23vw; */
  /* height: 15vh; */
  max-width: 25vw;
  background-color: pink;
}
